a{
    color: #000000;
    text-decoration: none;
}

.site_name {
    position: absolute;
    width: 182px;
    height: 44px;
    left: 102px;
    top: 21px;

    font-family: 'Archivo Black', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 50px;
    line-height: 61px;

    color: #000000;
}

.header{
    position: absolute;
    top: 63px;
    width: 100%;
    left: 0px;
    height: 0px;

    border: 2px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}
.header_logo{
    position: absolute;
    width: 37px;
    height: 56px;
    left: 22px;
    top: 9px;

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.5));
}
.header_name{
    position: absolute;
    width: 87px;
    height: 24px;
    left: 107px;
    top: 25px;

    font-family: 'Archivo Black', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 25px;
    line-height: 30px;

    color: #000000;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}

.header_icon{
    position: absolute;
    width: 30px;
    height: 30px;
}

.icon__search{
    left: 1153px;
    top: 17px;
}

.icon__account{
    left: 1251px;
    top: 17px;
}

.icon__menu{
    left: 1350px;
    top: 17px;

}

.general-text{
    width: 336px;
    height: 29px;
    /*left: 182px;*/
    /*top: 712px;*/

    font-family: 'Archivo Black', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.footer{
    /*position: absolute;*/
    width: 231px;
    height: 21px;
    /*left: 604px;*/
    /*top: 1003px;*/

    font-family: 'Archivo Black', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;

    color: #000000;
}

.top{
    /*position: absolute;*/
    width: 160px;
    height: 29px;
    /*left: 112px;*/
    /*top: 651px;*/

    font-family: 'Archivo Black', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.main-pictures{
    position: absolute;
    width: 230px;
    height: 230px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.5));
}

.main-pictures__lilpeep{
    left: 150px;
    top: 240px;
}

.main-pictures__xxxtentacion{
    left: 592px;
    top: 240px;
}

.main-pictures__juicewrld{
    left: 1070px;
    top: 240px;
}

.main-buttons__artists{
    position: absolute;
    left: 304px;
    top: 110px;
}

.main-buttons__genres{
    position: absolute;
    left: 564px;
    top: 110px;
}

.main-buttons__top{
    position: absolute;
    left: 812px;
    top: 110px;
}

.main-buttons__latest{
    position: absolute;
    left: 982px;
    top: 110px;
}

.name__lilpeep{
    position: absolute;
    left: 209px;
    top: 489px;
}

.name__xxxtentacion{
    position: absolute;
    left: 615px;
    top: 489px;
}

.name__juicewrld{
    position: absolute;
    left: 1113px;
    top: 489px;
}

.text__top{
    position: absolute;
    left: 112px;
    top: 620px;
}

.album{
    width: 50px;
    height: 50px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}

.album__kanye{
    position: absolute;
    left: 112px;
    top: 680px;
}

.album__brockhampton{
    position: absolute;
    left: 112px;
    top: 775px;
}

.album__kendrick{
    position: absolute;
    left: 112px;
    top: 870px;
}

.general-text__kanye{
    position: absolute;
    left: 200px;
    top: 690px;
}

.general-text__brockhampton{
    position: absolute;
    left: 200px;
    top: 785px;
}

.general-text__kendrick{
    position: absolute;
    left: 200px;
    top: 880px;
}

.header-songs__first{
    position: absolute;
    top: 750px;
    width: 33%;
    left: 105px;
    height: 0px;

    border: 2px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}

.header-songs__second{
    position: absolute;
    top: 845px;
    width: 33%;
    left: 105px;
    height: 0px;

    border: 2px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}

.header-songs__third{
    position: absolute;
    top: 930px;
    width: 33%;
    left: 105px;
    height: 0px;

    border: 2px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}

.general-text__contacts{
    position: absolute;
    left: 592px;
    top: 990px;
}

.background{
    background: linear-gradient(116.28deg, #1A575A 6.63%, #471E25 95.34%);
}